
<br>
<br>
<br>

<table class="table table-striped"  border="1" style="align-self: center">
  <thead>
      <tr class="row" style="padding-left:10px" >
          <!--th>Id</th-->
          <th class="col-md-4">Name</th>
          <th class="col-md-2">Quantity</th>
          <th class="col-md-1">Unit</th>
          <th class="col-md-3">Vendor</th>
      </tr> 
  </thead>
  <tbody >
      <tr class="row" style="padding-left:10px" *ngFor="let cart of cartproduct">
          <!--td>{{product.id}}</td> -->
          <td class="col-md-4">{{cart.product.name}}</td>
          <td class="col-md-2">{{cart.product.quantity}}</td>
          <td class="col-md-1">{{cart.product.unit}}</td>
          <td class="col-md-3">{{cart.vendor}}</td>
      </tr>

  </tbody>
  <!--tfoot>
          <tr>
          <td>Total Price</td>
          <td colspan="3" class="text-right">{{total | currency: 'INR' }}</td>
          </tr>
  </tfoot-->
</table>

<nav class="navbar fixed-bottom navbar-dark" style="color: white; background-color:#122e6d; height: 50px">
  <button type="submit" style="float:right">
    <div [routerLink]="['/'] ">Back to Product List!</div>
  </button>
</nav>




